@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)

</head>
<body class="fixed-top">
    @Html.Partial("_Top")
    <div id="container" class="row-fluid @ViewBag.MenuStatus">
        @Html.Partial("_LeftMenu")
        <div id="body">
            <div id="widget-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"></button>
                    <h3>widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        @Html.Raw(ViewBag.NavMenu)
                    </div>
                </div>
                <div class="row-fluid" style="text-align:center;">
                    <h1>欢迎使用仓库管理系统</h1><br>
                    @{
                        if (ViewBag.role== "000001")
                        {
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>库存预警消息</h4>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>产品名称</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        @{
                                            foreach (var item in ViewBag.produtlist)
                                            {
                                                if (item.Remark == "2")
                                                {
                                                    <tr>
                                                        <td>@item.ProductName</td>
                                                        <td>库存量已达到预警值</td>
                                                        <td><button class="btn btn-primary" onclick="MarginCall('@item.SnNum')">补仓</button></td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>销售出货消息</h4>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>出货单号</th>
                                            <th>申请人</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        @{
                                            foreach (var item in ViewBag.storglist)
                                            {
                                                <tr>
                                                    <td>@item.OrderNum</td>
                                                    <td>@item.EquipmentCode</td>
                                                    <td>@item.Remark</td>
                                                    <td><a class="icon-ok" href="javascript:void(0)" onclick="User.Audite(2,'@item.OrderNum ')" title="审核"></a>&nbsp;&nbsp;</td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                        if (ViewBag.role == "000007")
                        {
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-reorder"></i>维护提醒</h4>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>出货单号</th>
                                            <th>客户</th>
                                            <th>客户等级</th>
                                            <th>维护日期</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        @{
                                            foreach (var item in ViewBag.storglist)
                                            {
                                                <tr>
                                                    <td>@item.OrderNum</td>
                                                    <td>@item.CusName</td>
                                                    <td>@item.RemarkLevel</td>
                                                    <td>@item.ProtectedTime</td>
                                                    <td>@item.strStatus</td>
                                                    <td><a class="icon-ok" href="javascript:void(0)" onclick="User.Remind(2,'@item.ID ')" title="通知维护"></a>&nbsp;&nbsp;</td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                                            }
                        if (ViewBag.role == "000010")
                        {
                           <div class="widget">
                                                    <div class="widget-title">
                                                        <h4><i class="icon-reorder"></i>销售核对</h4>
                                                    </div>
                                                    <div class="widget-body">
                                                        <table class="table table-hover">
                                                            <tr>
                                                                <th>出货单号</th>
                                                                <th>客户</th>
                                                                <th>客户等级</th>
                                                                <th>维护日期</th>
                                                                <th>状态</th>
                                                                <th>操作</th>
                                                            </tr>
                                                            @{
                                                                foreach (var item in ViewBag.storglist)
                                                                {
                                                                    <tr>
                                                                        <td>@item.OrderNum</td>
                                                                        <td>@item.CusName</td>
                                                                        <td>@item.RemarkLevel</td>
                                                                        <td>@item.ProtectedTime</td>
                                                                        <td>@item.strStatus</td>
                                                                        <td><a class="icon-ok" href="javascript:void(0)" onclick="User.Remind(2,'@item.ID ')" title="通知维护"></a>&nbsp;&nbsp;</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                    </div>
                            </div>
                         }
                    }                               
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Foot")    
</body>
</html>
<script>
    function MarginCall(snnum) {
        window.location.href = "/InStorage/Product/Add?SnNum="+snnum;
    }
</script>